<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Item #<%= @item.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/items" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link item start -->
      <div class="col">
        <% if current_user == @item.poster %>
          <a href="/items/<%= @item.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit item
          </a>
        <% end %>
      </div>
      <!-- Edit link item end -->

      <!-- Delete link item start -->
      <div class="col">
        <% if current_user == @item.poster %>
          <a href="/delete_item/<%= @item.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete item
          </a>
        <% end %>
      </div>
      <!-- Delete link item end -->
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <!-- Display title start -->
      <dd>
        <%= @item.title %>
      </dd>
      <!-- Display title end -->

      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @item.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Seller
      </dt>
      <!-- Display seller_id start -->
      <dd>
        <% if @item.poster.present? %>
          <a href="/users/<%= @item.seller_id %>">
            <%= @item.poster.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display seller_id end -->

      <dt>
        Price
      </dt>
      <!-- Display price start -->
      <dd>
        <%= @item.price %>
      </dd>
      <!-- Display price end -->

      <dt>
        Address
      </dt>
      <!-- Display address start -->
      <dd>
        <div>
          <%= render partial: "item_templates/one_photo_map" %>
        </div>
      </dd>
      <!-- Display address end -->

      <dt>
        Photo
      </dt>
      <!-- Display photo start -->
      <dd>
        <img src="<%= @item.photo %>" class="img-fluid">
      </dd>
      <!-- Display photo end -->

      <dt>
        Location
      </dt>
      <!-- Display location_id start -->
      <dd>
        <% if @item.location.present? %>
          <a href="/locations/<%= @item.location_id %>">
            <%= @item.location.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display location_id end -->

      <dt>
        Status
      </dt>
      <!-- Display status_id start -->
      <dd>
        <% if @item.status.present? %>
          <a href="/statuses/<%= @item.status_id %>">
            <%= @item.status.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display status_id end -->

      <dt>
        Item type
      </dt>
      <!-- Display item_type_id start -->
      <dd>
        <% if @item.item_type.present? %>
          <a href="/item_types/<%= @item.item_type_id %>">
            <%= @item.item_type.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display item_type_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@item.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@item.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_transactions" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_comments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_bookmarks" %>
  </div>
</div>
<!-- Show Page Customization end -->
