<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Item #<%= @item.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/items" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @item.poster %>
          <a href="/items/<%= @item.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit item
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @item.poster %>
          <a href="/delete_item/<%= @item.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete item
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @item.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @item.description %>
      </dd>

      <dt>
        Seller
      </dt>
      <dd>
        <% if @item.poster.present? %>
          <a href="/users/<%= @item.seller_id %>">
            <%= @item.poster.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @item.price %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <div>
          <%= render partial: "item_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <img src="<%= @item.photo %>" class="img-fluid">
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <% if @item.location.present? %>
          <a href="/locations/<%= @item.location_id %>">
            <%= @item.location.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <% if @item.status.present? %>
          <a href="/statuses/<%= @item.status_id %>">
            <%= @item.status.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Item type
      </dt>
      <dd>
        <% if @item.item_type.present? %>
          <a href="/categories/<%= @item.item_type_id %>">
            <%= @item.item_type.category %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@item.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@item.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_transactions" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_comments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_bookmarks" %>
  </div>
</div>
